@import 'utils/variables';
@import 'components/type';
@import 'components/Boule';

*{
    margin: 0;
    padding: 0;
}

canvas{
    position: absolute;
    height: 100%;
    border: 2px solid red;
}

body{
    
}