@import 'utils/variables';
@import 'components/type';
@import 'components/Boule';

@font-face {
    font-family: "Machina";
    src: url("/assets/fonts/NeueMachina-Ultrabold.otf") format("opentype");
   }

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

canvas{
    z-index: 1;
    position: relative;
}

::selection {
    color: black;
    background: white;
  }

.header{
    position: absolute;
    color: white;
    z-index: 99;
    width: 100%;
    margin-top: 45vh;
}

.header__text{
    text-align: center;
    font-size: 60px;
}

.main{
    
}

#three{
   height: auto;
}

.pres{
    background-color: #000;
    padding-top: 10ch;
}

.title{
    color: white;
    font-size: 40px;
    margin-left: 2ch;
    font-family: "Machina";
}

.t-titre{
    overflow: hidden;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.b-titre{
    overflow: hidden;
    background-color: transparent;
    font-size: 65px;
    text-align: center;
    width: 10ch;
    position: absolute;
}

.navbar{
    width: 65ch;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

.style-list{
}

.list__item{
    display: inline-block;
    color: white;
    margin-left: 3ch;
    margin-right: 3ch;
}

.list__item:hover{
    background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
    background-image: url(../assets/images/HEHEHE.jpg);
    background-position: center;
    background-size: cover;
}

.button-nav{
    position: relative;
    width: 120px;
    height: 45px;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 13px;
    display: flex;
    align-items: center;
    float: right;
    margin-right: 11ch;
    margin-top: -45px;
    z-index: 99;
    cursor: pointer;
}

.button-nav:hover{
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.button-nav--bck{
    position: relative;
    width: 40px;
    height: 7px;
    background: #C82E44;
    margin-top: -7px;
    float: right;
    margin-right: 15ch;
    z-index: 1;
}

.button-nav__txt{
    margin-left: auto;
    margin-right: auto;
    background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
    background-image: url(../assets/images/HEHEHE.jpg);
    background-position: center;
    background-size: cover;
}

.s-title{
    font-family: 'Machina';
    font-size: 48px;
    color: white;
    margin-top: 350px;
    margin-left: 4ch;
    margin-bottom: 20px;
}

.s-title__txt{
    margin-left: 6.7ch;
    color: white;
    width: 34ch;
    font-size: 30px;
    font-family: 'Sora', sans-serif;
    font-weight: 200;
}

.s-title__img{
    width: 331px;
    float: right;
    margin-right: 200px;
    margin-top: -400px;
}

.pres--bck::before{
    content: "";
    background-color: red;
    height: 300px;
    width: 100%;
}